<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业茶歇合同</title>

    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!--<nav class="navbar navbar-default">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a class="navbar-brand" href="#">-->
<!--企业茶歇合同- {$jsj_data['entry']['field_6']}</a>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->

<div class="container" style="width: 800px;">

    <div class="row">
        <h1 class="text-center">一颗包菜茶歇服务合同 </h1>
        <div class="col-md-12">
            <h4>甲方:
                <small>{$jsj_data['field_1']} 代表人:
                    {$jsj_data['field_36']}  {$jsj_data['field_35']}
                </small>
            </h4>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <h4>乙方:
                <small>代表人:{$jsj_data['field_2']} {$jsj_data['field_6']}</small>
            </h4>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">乙方服务内容</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">

                <thead>
                <tr>
                    <th>#</th>
                    <th>内容</th>
                    <th>单位</th>
                    <th>单价(¥)</th>
                    <th>数量</th>
                    <th>价格(¥)</th>
                    <th width="200px;">备注</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{$jsj_data['field_16']}</td>
                    <td>{$jsj_data['field_17']}</td>
                    <td>¥ {$jsj_data['field_18']|default=0}</td>
                    <td>{$jsj_data['field_19']}</td>
                    <td>¥ {$calc_fw|default=0}</td>
                    <td>非含税</td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td colspan="5">
                        <p class="text-center">
                            <!--草莓牛油果薄饼<br> Seafood Black Pizza<br>-->
                            <!--金枪鱼吐司<br> Seared Tuna Toast<br>-->
                            <!--鳄梨酱多谷物面包<br> Scallops Mushrooms<br>-->
                            <!--墨西哥牛排沙拉卷饼<br> Steak Salad Burrito<br>-->
                            <!--草莓水果沙拉<br> Strawberry Fruitty Salad<br>-->
                            <!--紫薯藜麦鸡肉沙拉 <br>Chicken Quinoa Salad<br>-->
                            <!--南瓜塔<br> Pumpkin Tart<br>-->
                            <!--杂梅维他水 <br>Very Berry H20+<br>-->
                            <!--超级果昔<br> Super Smoothie-->

                            {$jsj_data['field_8']}
                        </p>
                    </td>
                    <td>{$jsj_data['field_21']}</td>

                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="2">现场服务人员</td>
                    <td></td>
                    <td>{$jsj_data['field_10']}</td>
                    <td>¥ {$jsj_data['field_10']|default=0}</td>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td colspan="4">服务费(10%)</td>
                    <td>¥ {$jsj_data['field_11']|default=0}</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="4">发票(5%)</td>
                    <td>¥ {$jsj_data['field_12']|default=0}</td>
                    <td>发票抬头：北京嘀嘀无限科技发展有限公司 内容：食品</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td colspan="4">配送费(>5公里按实际费用加收)</td>
                    <td>¥ {$jsj_data['field_13']|default=0}</td>
                    <td></td>
                </tr>

                <tr>
                    <td colspan="7">器具确认栏:尊敬的客人,请核对本公司提供给您的配套器具 ,以下部分为本公司为您返场服务时需回收的部分 ,谢谢!如因使用不当导致损 毁,则需按物品原价 (参考价: ¥{$jsj_data['total_price']|default=0} ) 赔偿<br>

                    </td>
                </tr>

                <tr>
                    <th>序号</th>
                    <th>提供物料</th>
                    <th>单位</th>
                    <!--<th>单价(¥)</th>-->
                    <th>数量</th>
                    <!--<th>价格(¥)</th>-->
                    <th colspan="4">备注</th>
                </tr>
                <volist name="jsj_data['field_14']" id="vo">
                    <tr>
                        <th scope="row">{$i}</th>
                        <td>{$vo.name}</td>
                        <td>件</td>
                        <!--<td></td>-->
                        <td>{$vo.number}</td>
                        <!--<td></td>-->
                        <td colspan="3"></td>
                    </tr>
                </volist>
                <!--<tr><td colspan="7" class="text-right"><h4>原价合计: ¥{$jsj_data['entry']['total_price']}</h4></td></tr>-->

                </tbody>

            </table>
        </div>


    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">订单明细</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td rowspan="2"><h5>主要订餐事项</h5></td>
                    <td width="150px;">用餐时间</td>
                    <td>{$jsj_data['field_26']}--{$jsj_data['field_27']}</td>
                </tr>
                <tr>
                    <td> 用餐地址</td>
                    <td>{$jsj_data['field_25']['street']} 联系人:{$jsj_data['field_36']} | {$jsj_data['field_35']} </td>
                </tr>
                <tr>
                    <td rowspan="3"><h5>餐费支付</h5></td>
                    <td>合同全款</td>
                    <td><h4>¥ {$calc_total|default=0} </h4></td>

                </tr>
                <tr>
                    <td>已付定金</td>
                    <td>¥ {$jsj_data['field_33']|default=0} </td>

                </tr>

                <tr>
                    <td>结算方式</td>
                    <td>
                        {$jsj_data['field_34']|default='其它'}
                    </td>
                </tr>
                <tr>
                    <td rowspan="3"><h5>转账账户</h5></td>


                </tr>
                <tr>
                    <td> 支付宝</td>
                    <td>账号zfb@baocai.us<br>
                        支付宝实名：深圳包菜网络技术有限公司<br></td>
                </tr>
                <tr>
                    <td> 公司账号</td>
                    <td>公司名称：深圳包菜餐饮管理有限公司<br>
                        开户行：中国农业银行深圳梅丽路支行<br>
                        账号：41003500040011153<br></td>
                </tr>

                <tr>
                    <td colspan="3"> 备注: 如需开发票,需另加总金额的5%</td>
                </tr>

                <tr>
                    <td rowspan="3"><h5>事项变更与合同解除</h5></td>
                    <td>主要订餐</td>
                    <td>1、一方需变更主要订餐事项的 ,应当至少提前__4__天(不含本日)通知对方,并以
                        双方认可的方式达成变更协议
                    </td>
                </tr>
                <tr>
                    <td>事项变更</td>
                    <td>用餐桌数或人数少于合同约定 ,且甲方未按照约定提前通知乙方的 ,按照本协议约 定人数收取餐费。</td>
                </tr>
                <tr>
                    <td>合同解除</td>
                    <td>甲方于用餐前解除合同,应当提前__7__日(不含本日)通知乙方,否则甲方无权要 求乙方返还定金。<br>
                        乙方于用餐前解除合同,应当提前__7__日(不含本日)通知甲方,否则应双倍返还 定金。
                    </td>
                </tr>

                <tr>
                    <td><h5>其他约定</h5></td>
                    <td colspan="2">用餐服务时间按销售合同进行 ,如超时或延长用餐服务时间 ,按每小时300元加收。</td>
                </tr>
                <tr>
                    <td colspan="3">请在签字前充分了解本合同有关事宜,认真填写表格内容,仔细阅读并认可背书合同条款。</td>
                </tr>


                </tbody>
            </table>

            <h4>三、甲方主要权利和义务</h4><br>
            <p>
                1、按照合同约定的时间、位置文明用餐,遵守公共秩序,尊重社会公德。<br> 2、据实结算各项费用,并在用餐完毕后即时将未结尾款一次性支付给乙方 。<br>
                3、活动开始时需要和工作人员确认场地的正常使用 ,确认后,如活动结束现场如有物品损坏 ,经查实后需承担赔偿费用及维修费用 。<br>
            </p>
            <h4>四、乙方主要权利和义务</h4><br>
            <p>
                1、按照合同约定向甲方提供菜品、酒水及服务,严格执行国家及深圳市的有关规定,并保证食品及用餐环境的卫生和安全。<br>
                2、订餐及布景服务明细见附件。<br>
            </p>
            <h4>五、双方责任</h4><br>
            <p>
                1、甲方未按照合同约定提前取消订单,甲方无权要求乙方返还定金。 <br>
                2、甲方用餐桌数或人数少于合同约定,且甲方未按照约定提前通知乙方的,合同价款不做调整。<br>
                3、乙方未按照合同约定提前取消订单,乙方双倍返还定金。<br>
                4、乙方提供的菜品、酒水、服务不符合合同约定的,应当赔偿由此给甲方造成的损失。<br>
                5、变更主要订餐事项而未按照合同约定提前通知对方,或未征得对方同意的,应当赔偿由此给对方造成的损失。<br></p>

            <h4>六、不可抗力和意外事件</h4><br>
            <p>
                因发生重大疫情、自然灾害等不可抗力或临时停电等不可预知的突发事件的 ,经核实可全部或部分免除责任,但应当及时通知对方,并在合理期限内提出。<br></p>
            <h4>七、争议解决方式</h4><br>
            <p>
                本合同项下发生的争议,双方应当协商解决或向消费者协会等有关部门申请调解解决;协商、调解解决不成的,可向甲方所在地的人民法院起诉。<br></p>
            <h4>八、未尽事宜,双方应协商解决。</h4><br>
            <p>
                本合同一式两份,双方各执一份。本合同在双方授权代表签字盖章后生效。</p>


            <div class="row">
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td><h4>订餐人(甲方)签章:</h4></td>
                        </tr>
                        <tr>
                            <td>联系地址:{$jsj_data['field_25']['street']}</td>
                        </tr>

                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td><h4>服务商(乙方)签章:</h4></td>
                        </tr>
                        <tr>
                            <td>联系地址:科兴科学园北门B1-G27</td>
                        </tr>

                    </table>
                </div>

            </div>

            <div class="row">
                <p><h5 class="text-right" style="margin: 10px;">2016年6月16日</h5></p>
            </div>


        </div>


    </div>


    <!-- Small modal -->


</div>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
