<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>打车比价</title>
    <style type="text/css">


        #l-map {
            height: 200px;
            width: 100%;
        }

        #r-result {
            width: 100%;
        }
    </style>
    <link href="Public/css/wx.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>-->
    <!--<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>-->

    <![endif]-->
</head>
<body>


<div class="container" style="max-width: 730px; margin: 10px;">


    <div class="hd">
        <a href="javascript:;">
            <h1 class="page_title">打车比价</h1>
            <p class="page_desc">滴滴/Uber/易道</p>
        </a>
    </div>


    <div class="weui_panel">
        <!--<div class="weui_panel_hd">包菜地图</div>-->
        <div class="weui_panel_bd">

            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">出发地</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="suggestId" placeholder="从哪儿出发" type="text">
                </div>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">目的地</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" id="suggestId2" placeholder="你要去哪儿" type="text">
                </div>
            </div>

            <div class="weui_media_box weui_media_text">
                <!--<p class="weui_media_desc">结果仅供参考,^_^</p>-->
                <div id="l-map" style="border:1px #bbbbbb solid "></div>
                <div id="searchResultPanel"
                     style="border:1px solid #bbbbbb;width:150px;height:auto; display:none;"></div>
            </div>

            <input name="lng" value="" id="start_point" type="hidden"/>
            <input name="lat" value="" id="end_point" type="hidden"/>
            <input name="total_distance" value="" id="total_distance" type="hidden"/>

            <a href="javascript:;" class="weui_btn weui_btn_primary" id="button_bj">一键比价</a>
        </div>

    </div>

</div>

<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>

<div id="weui_dialog" class="weui_dialog_alert" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">比价结果</strong></div>
        <div class="weui_dialog_bd">
            <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
            <div class="weui_text_area">
                <h2 class="weui_msg_title"></h2>
                <p class="weui_msg_desc weui_dialog_msg" id="weui_dialog_msg"></p>
            </div>
        </div>
        <div class="weui_dialog_ft">
            <a href="javascript:void(0)" class="weui_btn_dialog primary" onclick="close_dialog()">确定</a>
        </div>
    </div>
</div>


</div><!-- /.container -->

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lB3MdI4HADGDT8trntoLxOWR"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


<script type="text/javascript">


    function close_dialog() {
        $('#weui_dialog').css('display', 'none');
    }

    wx.config({
//        debug: true,
        appId: '{$js_sign['appId']}',// 必填，公众号的唯一标识
        timestamp: {$js_sign['timestamp']}, // 必填，生成签名的时间戳，切记时间戳是整数型，别加引号
        nonceStr: '{$js_sign['nonceStr']}', // 必填，生成签名的随机串
        signature: '{$js_sign['signature']}', // 必填，签名，见附录1
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo'
        ]
    });


    wx.ready(function () {
//        alert("启动jsapi!");

        wx.onMenuShareAppMessage({
            title: '打车比价',
            desc: '一键比价,滴滴/Uber/易道用车哪个最省?',
            link: '{$js_url}',
            imgUrl: 'http://auto.cri.cn/mmsource/images/2015/08/17/wb150713094.jpg',
            trigger: function (res) {

            },
            success: function (res) {

            },
            cancel: function (res) {

            },
            fail: function (res) {

            }
        });

        wx.onMenuShareTimeline({
            title: '一键比价,滴滴/Uber/易道用车哪个最省?',
            link: '{$js_url}',
            imgUrl: 'http://auto.cri.cn/mmsource/images/2015/08/17/wb150713094.jpg',
            trigger: function (res) {
                // 用户确认分享后执行的回调函数
            },
            success: function (res) {
                // 用户确认分享后执行的回调函数
            },
            cancel: function (res) {
                // 用户取消分享后执行的回调函数
            },
            fail: function (res) {
            }
        });


    });

    $(document).ready(function () {


        function search(start, end, route) {
            transit.search(start, end);
        }


        $("#button_bj").click(function () {
            var p1 = $("#suggestId").val();
            var p2 = $("#suggestId2").val();
            search(p1, p2, null);
            $.post("?m=home&c=index&a=bj",
                    {
                        lat: p1,
                        lng: p2
                    },
                    function (data, status) {

                    });
        });


        function G(id) {
            return document.getElementById(id);
        }

        var map = new BMap.Map("l-map");


        function addMarker(point, label) {
            var marker = new BMap.Marker(point);
            map.addOverlay(marker);
        }

        var geoc = new BMap.Geocoder();
        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input": "suggestId"
                    , "location": map
                });
        var ac2 = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input": "suggestId2"
                    , "location": map
                });


        ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        });

        ac2.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        });

        var myValue;
        ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
            G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

            setPlace();
        });

        ac2.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
            G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

            setPlace();
        });


        var searchComplete = function (results) {
            if (transit.getStatus() != BMAP_STATUS_SUCCESS) {
                return;
            }
            var plan = results.getPlan(0);
            var dis = (plan.getDistance(false) / 1000).toFixed(0);

            if (dis <= 9) {
                $('#weui_dialog_msg').html(plan.getDistance(true) + '用【Uber】最划算');
                $('#weui_dialog').css('display', 'block');
            } else if (dis > 9 && dis <= 16) {
                $('#weui_dialog_msg').html(plan.getDistance(true) + '用【滴滴出行】最划算');
                $('#weui_dialog').css('display', 'block');
            } else if (dis >= 16) {
                $('#weui_dialog_msg').html(plan.getDistance(true) + '用【易道用车】最划算');
                $('#weui_dialog').css('display', 'block');
            }

        }

        var transit = new BMap.DrivingRoute(map, {
            renderOptions: {map: map},
            onSearchComplete: searchComplete

        });


        function setPlace() {
            map.clearOverlays();
            function myFun() {
                var pp = local.getResults().getPoi(0).point;
                map.centerAndZoom(pp, 18);
                var mk = new BMap.Marker(pp);
                mk.enableDragging();
                map.addOverlay(mk);    //添加标注

            }

            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);
        }


        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function (r) {
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                var mk = new BMap.Marker(r.point);
                mk.enableDragging();
                map.addOverlay(mk);

                geoc.getLocation(r.point, function (rs) {
                    var addComp = rs.addressComponents;
                });


                var current_point = new BMap.Point(r.point.lng, r.point.lat)
                $('#start_point').valueOf(current_point);

                map.centerAndZoom(current_point, 17);
                map.enableScrollWheelZoom(true);
                var myGeo = new BMap.Geocoder();
                myGeo.getLocation(current_point, function (result) {
                    if (result) {
                        $('#suggestId').val(result.address);
                    }
                });

            }
            else {
            }
        }, {enableHighAccuracy: false})


    });


</script>
</body>
</html>
