<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>weixinJs</title>
    <style type="text/css">


        #l-map {
            height: 200px;
            width: 100%;
        }

        #r-result {
            width: 100%;
        }
    </style>
    <!-- Bootstrap -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="Public/css/wx.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/weui/0.4.3/style/weui.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>
<body>


<div class="container" style="max-width: 730px;">


    <div class="hd">
        <h1 class="page_title">BaoCaiPlus</h1>
        <p class="page_desc">包菜智能门店互联服务</p>
    </div>


    <div class="weui_panel">
        <!--<div class="weui_panel_hd">包菜地图</div>-->
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <h4 class="weui_media_title">坐标定位</h4>
                <p class="weui_media_desc">定位你的小店,一键召唤,马上入驻一颗包菜大家庭</p>
                <div id="l-map" style="border:1px #bbbbbb solid "></div>
                <div id="searchResultPanel"
                     style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
            </div>
        </div>
    </div>


    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">我的地址</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" id="suggestId" placeholder="请输入小店地址" type="text">
        </div>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">店名</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" placeholder="取个好听的名字" type="text">
        </div>
    </div>

    <input name="lng" value="22" id="p_lgn" type="hidden" />
    <input name="lat" value="11" id="p_lat" type="hidden" />

    <a href="javascript:;" class="weui_btn weui_btn_primary">提交申请</a>
    <!--<div class="weui_cell weui_vcode">-->
    <!--<div class="weui_cell_hd"><label class="weui_label">验证码</label></div>-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input class="weui_input" placeholder="请输入验证码" type="number">-->
    <!--</div>-->
    <!--<div class="weui_cell_ft">-->
    <!--<img src="./images/vcode.jpg">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui_cell">-->
    <!--<div class="weui_cell_hd"><label class="weui_label">银行卡</label></div>-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input class="weui_input" pattern="[0-9]*" placeholder="请输入银行卡号" type="number">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="weui_cell weui_vcode weui_cell_warn">-->
    <!--<div class="weui_cell_hd"><label class="weui_label">验证码</label></div>-->
    <!--<div class="weui_cell_bd weui_cell_primary">-->
    <!--<input class="weui_input" placeholder="请输入验证码" type="number">-->
    <!--</div>-->
    <!--<div class="weui_cell_ft">-->
    <!--<i class="weui_icon_warn"></i>-->
    <!--<img src="./images/vcode.jpg">-->
    <!--</div>-->
</div>

<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">数据加载中</p>
    </div>
</div>

<div id="weui_dialog" class="weui_dialog_alert" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">查询结果</strong></div>
        <div class="weui_dialog_bd" id="weui_dialog_msg"></div>
        <div class="weui_dialog_ft">
            <a href="javascript:void(0)" class="weui_btn_dialog primary" onclick="close_dialog()">确定</a>
        </div>
    </div>
</div>


</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=lB3MdI4HADGDT8trntoLxOWR"></script>


<script type="text/javascript">





    function close_dialog() {
        $('#weui_dialog').css('display', 'none');
    }

    $(document).ready(function () {
        // 百度地图API功能
        function G(id) {
            return document.getElementById(id);
        }

        var map = new BMap.Map("l-map");
        map.centerAndZoom("深圳", 12);                   // 初始化地图,设置城市和地图级别。

        // 编写自定义函数,创建标注
        function addMarker(point, label) {
//            var myIcon = new BMap.Icon("/man/Public/bcz.png", new BMap.Size(26, 30));
//            var marker = new BMap.Marker(point, {icon: myIcon});
            var marker = new BMap.Marker(point);
//            var label = new BMap.Label(label,{offset:new BMap.Size(40,10)});
//            label.setStyle({
//                color : "black",
//                fontSize : "12px",
//                height : "20px",
//                lineHeight : "20px",
//                fontFamily:"微软雅黑",
//                border:"0px",
//                background:"#FEFDA9"
//            });
//            marker.setLabel(label);
            map.addOverlay(marker);
        }



        //获取标注点集合
        function addPoint() {
//            $.get("/man/index.php?m=home&c=index&a=getPoint",function(data,status){
//                alert("数据：" + data + "\n状态：" + status);
//            });
            $.getJSON("/man/index.php?m=home&c=index&a=getPoint", function (data) {
//                alert("JSON Data: " + data.contents[0].location[0]);
                for (var i = 0; i < data.size; i++) {
                    var point = new BMap.Point(data.contents[i].location[0], data.contents[i].location[1]);
                    addMarker(point, data.contents[i]['title']);
                }

            });

        }


        var geoc = new BMap.Geocoder();
        //alert($(p_lgn).val());


        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input": "suggestId"
                    , "location": map
                });

        ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
//            G("searchResultPanel").innerHTML = str;
//            G("s_shop_address").value = value;


        });

        var myValue;
        ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
            G("searchResultPanel").innerHTML = "onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

            setPlace();
        });

        function setPlace() {
            map.clearOverlays();    //清除地图上所有覆盖物
            function myFun() {
                var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果

                map.centerAndZoom(pp, 18);
                var mk = new BMap.Marker(pp);
                mk.enableDragging();
                map.addOverlay(mk);    //添加标注
//            alert(pp.lng);
                $(p_lgn).val(pp.lng);
                $(p_lat).val(pp.lat);
            }

            var local = new BMap.LocalSearch(map, { //智能搜索
                onSearchComplete: myFun
            });
            local.search(myValue);
        }

        //叠加point
        addPoint();

        //获取当前位置
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function (r) {
            if (this.getStatus() == BMAP_STATUS_SUCCESS) {
                var mk = new BMap.Marker(r.point);
                mk.enableDragging();
//                map.addOverlay(mk);
//                map.panTo(r.point);

                geoc.getLocation(r.point, function (rs) {
                    var addComp = rs.addressComponents;
//                alert(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
                });
//            alert('您的位置：'+r.point.lng+','+r.point.lat);
                $(p_lgn).val(r.point.lng);
                $(p_lat).val(r.point.lat);
            }
            else {
//            alert('failed'+this.getStatus());
            }
        }, {enableHighAccuracy: false})


    });
</script>
</body>
</html>
